
set scrolloff=5

set scrolloff=10
set relativenumber
set number
set showmode
set showcmd
set visualbell
set clipboard+=unnamed

set incsearch
set sneak
set nerdtree
set surround

set ignorecase
set smartcase
set incsearch
set hlsearch
set notimeout

map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

""" Mappings
let mapleader = " "

nnoremap <Esc> :nohlsearch<CR> 
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Jump between methods
nnoremap <leader>mu <Action>(MethodUp)
nnoremap <leader>md <Action>(MethodDown)

" eAsy visual indentation
vnoremap < <gv
vnoremap > >gv

" Popup navigation
inoremap <C-n> <Action>(PopupMenu-selectNext)
inoremap <C-p> <Action>(PopupMenu-selectPrev)

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

" Actions
map <leader>sa <action>(ShowIntentionActions)
map <leader>se <action>(SearchEverywhere)

" File navigation
map <Leader>sf <action>(com.mituuz.fuzzier.Fuzzier)
map <leader>sr <action>(RecentFiles)
map <leader>sc <action>(FindInPath)
map <leader>sl <action>(RecentLocations)
map <leader>ns <action>(NewScratchFile)

map <Leader>fg <action>(com.mituuz.fuzzier.FuzzierVCS)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gs <Action>(ActivateVersionControlToolWindow)
map <leader>gb <Action>(Git.Branches)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)
